@{
  Layout="_Layout";
}

<h1>Welcome to Project Name</h1>

<p class="btn btn-primary">@Html.ActionLink("A to an index page", "Index", "Category")</p>
<p class="btn btn-primary">@Html.ActionLink("A to an index page", "Index", "Item")